@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/OpenSans-Regular.woff2') format('woff2');
}

*,
::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  background-color: #e4ebef;
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.app {
  font-family: "Open Sans", serif;
  width: 350px;
  min-height: 500px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 100%;
  min-height: 250px;
  background-image: url("./images/particles.jpg");
  background-repeat: repeat-y;
  background-size: auto 250px;
  background-position: -20px 0;
  position: relative;
  padding-top: 5px;
  background-color: #034168;
}

.page-header::before {
  position: absolute;
  width: 100%;
  height: 57px;
  overflow: hidden;
  content: '';
  bottom: -1px;
  background-image: url("./images/banner-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation-link {
  padding: 15px;
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover {
  opacity: 60%;
}

.navigation-link:active {
  opacity: 20%;
}

.navigation-link-active {
  border-bottom: 1px solid #ffffff;
}

.main {
  flex-grow: 1;
}

.main-index {
  padding: 30px;
  padding-bottom: 10px;
}

.slogan {
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #074f7d;
  margin: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  margin-bottom: 10px;
}

.form-field {
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  padding: 12px;
  border-radius: 3px;
  border: none;
  background-color: #eeeeee;
  min-width: 0;
  flex-grow: 1;
  margin-right: 2px;
}

.form-field:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.form-field:active {
  opacity: 60%;
}

.form-field:disabled {
  opacity: 30%;
}

.form-submit {
  min-width: 45px;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-image: url("./images/speaker-icon.svg");
  background-size: 41px 41px;
  background-repeat: no-repeat;
  background-position: center;
  flex: none;
}

.form-submit:hover {
  background-color: #d5dfe4;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.form-submit:active {
  opacity: 60%;
}

.form-submit:disabled {
  opacity: 30%;
}

.error {
  color: #E02A1A;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.loading-message {
  margin: 0;
  text-align: center;
}

.audio {
  display: none;
}

.page-footer {
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background-color: #b4d0e1;
}

.page-footer-about {
  margin-right: 5px;
  font-size: 16px;
  line-height: 13px;
  opacity: 90%;
}

.page-footer-logo {
  align-self: center;
  border-radius: 50%;
}

.main-inner {
  padding: 20px 25px;
}

.main-inner-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #074f7d;
  margin: 0;
  margin-bottom: 20px;
}

.main-inner-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  column-gap: 6px;
  row-gap: 15px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: top;
  justify-items: left;
}

.main-inner-item {
  word-break: break-word;
}

.main-inner-role {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  color: #aeaeae;
}

.main-inner-name {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.page-footer-logo:hover {
  opacity: 60%;
}

.page-footer-logo:active {
  opacity: 30%;
}

.not-found {
  font-size: 22px;
  text-align: center;
  color: #074f7d;
}
